.tooltip-icon {
  color: #A8AAB7;
}

.tooltip-icon + .tooltip-icon {
  margin-left: 8.5rem;
}

.custom-tooltip__inner {
  background-color: #273142;
  color: #fff;
  font-size: 0.875rem;
  padding: 0.5rem 1.25rem;
}

.tooltip-custom__arrow::before {
  border-top-color: #273142 !important;
}